.center{
	text-align:center;
	marigin: 0 auto;
}

.top{
	position:relative;
}

#menu{
	position:absolute;
	top:50px;
}

.navi{
	background-color:#1C1C4E;
	overflow:hidden;
	margin-top:0px;
	
}

.navi a{
	display:inline;
	padding-left:30px;
	padding-right:30px;
	font-size:30px;
	color:white;
	text-decoration:none;
	
}

.navi a:hover{
	color:#5F5FCA;
}

#imageheader{
	margin-bottom:0px;
	border-radius:5%;
}

#butterfly{
	border-radius:50%;
}


body{
	background-color:#CFCFE9;
	height:1000px;
}

.site{
	display:inline;
}



#tekst{
	width:75%;
	float:left;
	
}

#p1{
	padding:20px;
}

.sidebar{
	color:white;
}

#about{
	width:20%;
	float:left;
	padding-left:15px;
	background-color:#1C1C4E;
	margin-left:40px;
	border-radius:5%;

h1{
	font-size:20px;
}